input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

body {
    background: #1a1f36;
}

.dropdown-menu.show a:hover {
    background-color: #1c2348;
    color: white;
}

.comment-list-group {
    max-height: 200px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

/* .navbar-light .navbar-brand {
    color: #e4e7eb;
}

.navbar-light .navbar-nav .nav-link {
    color: #e4e7eb;
}

.navbar-toggler {
    color: #e4e7eb;
} */

.bg-dark {
    background-color: #101321 !important;
    opacity: 0.8;
}

/* .text-primary {
    color: #5162a5 !important;
} */


.login-form-footer {
    margin-top: 50px;
    text-align: center;
}

.login-form-footer p {
    color: #e4e7eb;
}

.btn-primary {
    background-color: transparent;
}

.login-button {
    width: 100%;
    margin-top: 60px;
}

.signup-form {
    background-color: #101321;
    padding: 40px;
    margin: 20px;
}

.signup-btn {
    margin-top: 20px;
}

legend {
    text-align: center;
}

h6, span {
    color: #e4e7eb;
}

.login-row {
    width: 100%;
}

.p-3 {
    padding: 2rem !important;
}

.dropdown-menu {
    background-color: #101321 !important;
}

.dropdown-item {
    color: #e4e7eb;
}

.dropdown-divider {
    border-top-color: #1c395c;
}

.logout-btn {
    background-color: transparent;
}

.card-header {
    background-color: #3c4257;
    color: #e4e7eb;
}

.card-body {
    background-color: #1f243e;
    color: #e4e7eb;
}

.card-footer {
    background-color: #50566b;
    color: #e4e7eb;
}

.text-muted {
    color:#8db1d2;
}

.card {
    border: none;
    background-color: #3c4257;
    margin: 30px;
}

.nav-dropdown {
    display: flex;
    justify-content: center;
}

hr {
    margin-bottom: 0;
}

.like-comment-button {
    padding: 3.5rem;
    padding-top: 0;
    padding-bottom: 1rem;
}

input.form-control {
    background-color: #1c2348;
    border: none;
}

.form-control:not(active){
    background-color: #1c2348;
 }

 .form-control:focus{
    background-color: #1c2348;
 }

 textarea.form-control:focus {
     background-color: #3c4257;
     color: white;
     border: none;
 }

 textarea.form-control:not(active) {
    background-color: #3c4257;
    color: white;
    border: none;
 }

 .input-group-text {
     background-color: transparent;
     border: none;
 }


 /* input:-internal-autofill-selected {
    background-color: #1c2348;
 } */

 .list-group-item {
     background-color: #3c4257;
 }

.form-label {
    color: #a6afd2 !important;
 }

 .comment-input {
    border: 1px solid none !important;
    border-radius: 40px !important;
    background-color: #3c4257 !important;
    color: white !important;
    padding-left: 20px;
 }

 .like-icon {
     padding-right: 5px;
 }

 .comment-icon {
     padding-right: 5px;
 }

@media (max-width: 600px) {
    .nav-dropdown {
        display: flex;
        justify-content: flex-end;
    }
}